.list {
  list-style: none;
}
.link {
  text-decoration: none;
  &:hover,
  &:focus {
    color: #fff;
  }
}
.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include desktop {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
