@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  // background-color:;
  // font-family:;
  // color: ;
  // font-size:;
  // letter-spacing:;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  padding-left: 0;
}
