$text-color: #2C2C2C;
$form-text: #505050;
$nav-text: #000000;
$main-color: #FFE550;
$primary-accent-color: #BBF330;
$button-hover-color: #B5FF00;
$secondary-accent-clor: #7EB101;
$border-hover-color: #597D00;
$background-white: #F5F5F5;
$image-background-color: #FEFEFE;
$shadow-fruit: #2F583F;
$backdrop-color: rgba (94, 99, 99, 0.7);
$modal-form-text: #C4C4C4;
$modal-allert-color: #FF705D;
$modal-form-background: #FFFFFF;