/* color variables*/
$text-color: #2c2c2c;
$form-text: #505050;
$nav-text: #000000;
$main-color: #ffe550;
$primary-accent-color: #bbf330;
$button-hover-color: #b5ff00;
$secondary-accent-color: #7eb101;
$border-hover-color: #597d00;
$background-white: #f5f5f5;
$image-background-color: #fefefe;
$shadow-fruit: #2f583f;
$backdrop-color: rgba(94, 99, 99, 0.7);
$modal-form-text: #c4c4c4;
$modal-alert-color: #ff705d;
$modal-form-background: #ffffff;
