<div class="customer-section">
  <h1 class="customer-title">What our Customers Say</h1>
  <p class="customer-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <ul class="customer__list">
    <li class="customer__item">
      <svg class="customer__icon" viewBox="0 0 34 32" width="17" height="16">
        <use
          class=""
          xlink:href="./images/customers-say/icons.svg#icon-star"
        ></use>
      </svg>
      <svg class="customer__icon" viewBox="0 0 34 32" width="17" height="16">
        <use
          class=""
          xlink:href="./images/customers-say/icons.svg#icon-star"
        ></use>
      </svg>
      <svg class="customer__icon" viewBox="0 0 34 32" width="17" height="16">
        <use
          class=""
          xlink:href="./images/customers-say/icons.svg#icon-star"
        ></use>
      </svg>
      <svg class="customer__icon" viewBox="0 0 34 32" width="17" height="16">
        <use
          class=""
          xlink:href="./images/customers-say/icons.svg#icon-star"
        ></use>
      </svg>
      <svg class="customer__icon" viewBox="0 0 34 32" width="17" height="16">
        <use
          class=""
          xlink:href="./images/customers-say/icons.svg#icon-star"
        ></use>
      </svg>
      <span class="customer__text"
        >“The Best app I have used to order food in a while, so many options to
        choose from too, I would recommend to a freind, 
        No questions asked”
      </span>

      <div class="customer-info">
        <picture>
          <source
            srcset="
              ./images/customers-say/img2-1x.png 1x,
              ./images/customers-say/img2-2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="customer__img"
            src="./images/customers-say/img2-1x.png"
            alt="Sumith Shah"
            width="48"
          />
        </picture>

        <div class="customer-profile">
          <span class="customer-profile__name">Sumith Shah</span>
          <span class="customer-profile__description">Some Dude</span>
        </div>
      </div>
    </li>

    <li class="customer__item">
      <svg class="customer__icon" viewBox="0 0 34 32" width="17" height="16">
        <use
          class=""
          xlink:href="./images/customers-say/icons.svg#icon-star"
        ></use>
      </svg>
      <svg class="customer__icon" viewBox="0 0 34 32" width="17" height="16">
        <use
          class=""
          xlink:href="./images/customers-say/icons.svg#icon-star"
        ></use>
      </svg>
      <svg class="customer__icon" viewBox="0 0 34 32" width="17" height="16">
        <use
          class=""
          xlink:href="./images/customers-say/icons.svg#icon-star"
        ></use>
      </svg>
      <svg class="customer__icon" viewBox="0 0 34 32" width="17" height="16">
        <use
          class=""
          xlink:href="./images/customers-say/icons.svg#icon-star"
        ></use>
      </svg>
      <svg class="customer__icon" viewBox="0 0 34 32" width="17" height="16">
        <use
          class=""
          xlink:href="./images/customers-say/icons.svg#icon-star"
        ></use>
      </svg>
      <span class="customer__text">
        “The ease with which I can just go in and order what i want was amazing,
        It has been a very pleasant experience 
        ordering from this app”
      </span>

      <div class="customer-info">
        <picture>
          <source
            srcset="
              ./images/customers-say/img3-1x.png 1x,
              ./images/customers-say/img3-2x.png 2x
            "
            media="(min-width: 480px)"
          />
          <img
            class="customer-img"
            src="./images/customers-say/img3-1x.png"
            alt="Sumith Shah"
            width="48"
          />
        </picture>

        <div class="customer-profile">
          <span class="customer-profile__name">Sumith Shah</span>
          <span class="customer-profile__description">Some Dude</span>
        </div>
      </div>
    </li>
  </ul>
</div>
