<header class="header">
    <div class="container header__container">
        <nav class="header__nav">
            <a class="header__logo" href="./index.html">
                <svg width="66" height="52" aria-label="logo">
                    <use class="header__logo-icon" xlink:href="./images/icons.svg#logo">
                    </use>
                </svg>
            </a>
            <ul class="header__nav-list list">
                <li class="header__item"><a class="header__link link" href="#">Home</a></li>
                <li class="header__item"><a class="header__link link" href="#">About</a></li>
                <li class="header__item"><a class="header__link link" href="#">Service</a></li>
                <li class="header__item"><a class="header__link link" href="#">Menu</a></li>
                <li class="header__item"><a class="header__link link" href="#">Subscribe</a></li>
            </ul>
        </nav>
        <button type="button" class="menu-btn">
            <svg width="28" height="28">
                <use class="menu-btn-icon" xlink:href="./images/icons.svg#menu-mob-btn"></use>
            </svg>
        </button>
        <button type="button" class="order-btn">Order Now</button>
    </div>
</header>