<section class="offerings overlay">
  <div class="container">
    <div class="offerings__wrapper">
      <div class="offerings__block">
        <h2 class="offerings__title">What’s Special About Our Offerings</h2>
        <p class="offerings__discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </div>
      <ul class="offerings__list list">
        <li class="offerings__item">
          <h3 class="offerings__name">Fasest Delivery</h3>
          <p class="offerings__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item">
          <h3 class="offerings__name">Easy to order</h3>
          <p class="offerings__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button class="button button--offerings" type="button" onclick="toform()">
        Order Now
      </button>
      <a class="offerings__link" href="#">Read More</a>
    </div>
  </div>
</section>
