<section class="subscribe">
  <div class="container">
    <img class="subscribe__img"
      srcset="./images/subscribe/banana-mobile-161.jpg 161w,
      ./images/subscribe/banana-tablet-281.jpg 281w,
      ./images/subscribe/banana-mobile-322.jpg 322w
      ./images/subscribe/banana-descktop-546.jpg 546w,
      ./images/subscribe/banana-tablet-562.jpg 562w,
      ./images/subscribe/banana-descktop-1092.jpg 1092w"
      sizes="(min-width: 1280px) 546px, (min-width: 768px) 281px, 161px"
      src="./images/subscribe/banana-mobile-161.jpg"
      alt="Banana"
    />
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <input
      class="subscribe__input"
      type="email"
      name="email"
      placeholder="Enter your email"
    />
    <button class="button button--subscribe" type="submit">Subscribe</button>
  </div>
</section>
