//**MAIN-FAVORITES**//

.favorites {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 479px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

//**FAVORITES-FONT**//

.favorites__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  text-align: center;

  color: $text-color;
}

.favorites__info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: $text-color;
}

//**FAVORITES-LIST**//

.favorite-list {
  display: grid;
  grid-template-columns: auto;
  gap: 20px 20px;
  align-items: stretch;

  @media screen and (min-width: 480px) {
    grid-template-columns: auto;
  }
  @media screen and (min-width: 768px) {
    gap: 32px 32px;
    grid-template-columns: auto auto;
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: auto auto auto;
  }
}

.favorites__photo {
  align-content: center;
  align-items: center;

  border: 11px solid $main-color;
  border-radius: 140px;

  @media screen and (max-width: 479px) {
    border: 14px solid $main-color;
    border-radius: 167px;
  }
  @media screen and (min-width: 1200px) {
    border: 16px solid $main-color;
    border-radius: 197px;
  }
}

.favorites__photo:hover,
.favorites__photo:focus {
  border: $primary-accent-color;
}

.favorite-list__tablet {
  display: none;

  @media screen and (max-width: 479px) {
    display: block;
  }
}
