.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $modal-form-background;

    @media screen and (max-width:767px) {
        background-image: url("../images/footer/footer-mob-320-1x.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;



        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/footer/footer-mob-320@2x.png");
        }
    }

    @media screen and (min-width:768px) {

        background-image: url("../images/footer/footer-tab-785-1x.png");

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 118px;
        padding-bottom: 100px;


        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/footer/footer-tab-785@2x.png");
        }
    }

    @media screen and (min-width:1280px) {
        background-image: url("../images/footer/fruit_footer_desk-1211-1x.png");

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;


        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/footer/fruit_footer_desk-1211@2x.png");
        }
    }
}

.logo-footer {
    display: block;

}

.nav-footer {
    display: inline-block;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    &__id:not(:last-child) {
        padding-bottom: 20px;
    }

    &__id a {
        color: $text-color;

        &:hover,
        &:focus {
            color: $primary-accent-color;
        }
    }

    @media screen and (min-width:768px) {
        display: flex;
        gap: 28px;

    }

    @media screen and (min-width:1280px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;

    }

}

.footer-top {
    display: flex;
    gap: 81px;
    padding-bottom: 40px;

    @media screen and (min-width:480px) and (max-width:767px) {
        justify-content: center;
    }

    @media screen and (min-width:768px) {
        gap: 114px;
        align-items: flex-end;

    }

    @media screen and (min-width:1280px) {
        gap: 148px;
        align-items: flex-end;
        display: inline-flex;
    }
}

@media screen and (min-width:1280px) {
    .footer-top-decktop {
        display: inline-flex;
        align-items: flex-start;
        gap: 218px;
    }

}


.subscribe {
    padding-bottom: 12px;
}

.footer-mailing {
    padding-bottom: 60px;

    & .subscribe {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.51;

        color: $text-color;
    }

    @media screen and (min-width:768px) {
        padding-bottom: 100px;

    }
}


.footer-subscribe {
    display: inline-block;
    text-align: end;

    @media screen and (max-width:767px) {
        padding-bottom: 20px;

    }

    @media screen and (min-width:768px) {
        display: flex;
        gap: 13px;
        padding-bottom: 12px;

    }

    &__input-email {
        width: 100%;
        border-radius: 30px;
        height: 42px;
        padding: 12px;


        font-weight: 400;
        font-size: 12px;
        line-height: 1.51;
        color: $form-text;

        @media screen and (min-width:480px) and (max-width:767px) {
            width: 450px;
        }


        @media screen and (max-width:767px) {
            margin-bottom: 20px;

        }

        @media screen and (min-width:768px) {
            width: 279px;
            margin-bottom: 0px;

        }

        &:hover,
        &:focus {
            outline: none;

            &:valid {
                border: 0.854167px solid $secondary-accent-color;
                background: $modal-form-background;
            }
        }


        &:invalid {
            border: 0.854167px solid $modal-alert-color;
            background: $modal-form-background;
        }

        border: 0.854167px solid $main-color;

    }

    &__input-subscribe {
        padding: 11px 22px;

        background: $modal-form-background;
        border: 0.854167px solid $secondary-accent-color;
        border-radius: 30px;

        font-weight: 500;
        font-size: 13px;
        line-height: 1.51;
        color: $text-color;

        &:hover,
        &:focus {
            background: $main-color;

        }


    }

    &__title-agree {
        font-weight: 400;
        font-size: 10px;
        line-height: 1.21;

        color: $text-color;


    }

    &__agree-link {
        font-weight: 400;
        font-size: 10px;
        line-height: 1.21;
        text-decoration-line: underline;

        color: $secondary-accent-color;

        &:hover,
        &:focus {
            color: $shadow-fruit;

        }
    }
}

.footer__document-links {
    display: flex;
    gap: 32px;

    @media screen and (max-width:767px) {
        padding-bottom: 40px;
    }

    @media screen and (min-width:768px) {
        gap: 20px;

    }

    @media screen and (min-width:480px) and (max-width:767px) {
        justify-content: center;
    }

    & a {
        font-weight: 400;
        font-size: 10px;
        line-height: 1.21;

        text-decoration-line: underline;

        color: $secondary-accent-color;

        &:hover,
        &:focus {
            color: $shadow-fruit;

        }
    }


}

.footer-time__text {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.21;

    color: $text-color;
    text-align: center;
}

.footer-down {
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}