.header {
  background-color: $background-white;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  height: 72px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-list {
    display: none;

    @include tablet {
      display: inline-flex;
      align-items: center;
    }
  }

  &__nav {
    display: inline-flex;
    justify-content: center;
  }

  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: $nav-text;

    &:hover,
    &:focus {
      color: $primary-accent-color;
      text-decoration-line: underline;
    }
  }
}


.header__logo {
  display: block;
  margin-right: auto;
}

.header__nav-list {
  gap: 28px;

  &:last-child {
      margin-right: 30px;
    }
}



.menu-btn {
  @include tablet {
    display: none;
  }

  border: none;
  background-color: transparent;
}

.order-btn {
  display: none;

  @include tablet {
    display: inline-block;
  }

  background-color: $primary-accent-color;
  padding: 6px 18px;
  border: none;
  cursor: pointer;
  
  border-radius: 30px;

  color: $text-color;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
}
