.header {
    
    display: flex;
    justify-content: space-between;
    height: 72px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $image-background-color;
    font-family: 'Roboto';
    font-style: normal;
    align-items: center;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);


    &__nav-list {
        display: none;
    
        @include tablet {
            display: flex;
            align-items: center;
        }
    }


    &__nav {
        display: flex;
        justify-content: center;
    }


    &__link {

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $nav-text;

        &:hover, &:focus {
            color: $ptimary-accent-color;
            text-decoration-line: underline;
        }
    }

}



.menu-btn {
    @include tablet {
        display: none;
    }

    border: none;
    background-color: transparent;
}



.order-btn {
    display: none;

    @include tablet {
        display: inline-flex;
    }


    width: 98px;
    height: 32px;
    padding: 6px 18px;
    border: none;
    background-color: $ptimary-accent-color;
    border-radius: 30px;

    color: $text-color;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
}


@include tablet {
    .header__item {
        &:not(:first-child) {
            margin-left: 28px;
        }

        &:first-child {
            margin-left: 191px;
        }

        &:last-child {
        margin-left: 30px;
        }
        
        @include desktop {
            &:first-child {
                margin-left: 735px;
            }
        }
    }
}
