.mobile-menu__container {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 130px;
    height: 255px;
    padding: 16px;
    background-color: $background-white;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;
    z-index: 999;
    
    // @include mobile {
    //     position: fixed;
    //     top: 50px;
    //     right: 30px;
    // }
}


.mobile-menu__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $nav-text;
}

.mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.mobile-menu__wrap {
display: flex;
flex-direction: column;
}

.menu-close-btn {
    border: none;
    background: transparent;

    position: absolute;
    top: 0px;
    right: -6px;
}


// &:hover,
// &:focus {
//     background-color: $primary-accent-color;
// }