.backdrop {
    width: 100%;
    height: 100vh;
    background: rgba(94, 99, 99, 0.7);
    opacity: 1;
    top: 0;
    left: 0;
}
.modal{
    width: 320px;
    height: 449px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background:rgba(255, 229, 80, 1);
    position: absolute;
    padding: 32px 20px;
}
/*.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} */
.close-button{
    position: absolute;
    right: 16px;
    top:16px;
    width: 32px;
    height: 32px;
    background: #FFFF;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.modal-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}
.form-element{
    display: flex;
}
.form-element input{
    width: 100%;
}