.backdrop {
  width: 100%;
  height: 100vh;
  background: $backdrop-color;
  opacity: 1;
  z-index: 2;
  top: 0;
  left: 0;
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(70%);
}
.modal {
  width: 320px;
  height: 449px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: $main-color;
  position: absolute;
  padding: 32px 20px;
  border-radius: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    width: 458px;
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.close-button {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  background: $modal-form-background;
  color: $text-color;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}
.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: $text-color;
}
.form-element {
  display: flex;
  flex-direction: column;

  margin-top: 24px;
}

.form-element input {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $text-color;

  border: none;
  border: 1px solid $secondary-accent-color;
  padding-left: 12px;
  outline: none;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  @include tablet {
    border: 1px solid rgba(18, 18, 18, 0.12);
  }
}
.form-element input:focus {
  border: 1px solid $secondary-accent-color;
}
input::placeholder {
  color: $modal-form-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
label {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  color: $text-color;
  margin-left: 12px;
}
.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 38px;
  border-radius: 30px;
  border: 2px solid $secondary-accent-color;
  background: $modal-form-background;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.53;
  margin-top: 32px;
  color: $text-color;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: $primary-accent-color;
}
