.backdrop {
    width: 100%;
    height: 100vh;
    background: $backdrop-color;
    opacity: 1;
    top: 0;
    left: 0;
    position: fixed;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    width: 320px;
    height: 449px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background:$main-color;
    position: absolute;
    padding: 32px 20px;
    border-radius: 30px;
    @include tablet {
        width: 458px;
    }
}
.form-error {
font-weight: 500;
font-size: 11px;
line-height: 1.36;
color: #FF705D;
display: flex;
display: none;
margin-bottom: 9px;
margin-left: 12px;
align-items: center;
}
input:invalid:not(:placeholder-shown) {
    border: 1px solid #FF705D;
    margin-bottom: 0;
  }
  input:invalid:not(:placeholder-shown) + .form-error {
    display: flex;

  }
  .form-element input:required {
    border: 1px solid #FF705D;
  }
  .form-element input:required ~.submit-btn {
    border: 1px solid #FF705D;
    background-color: $background-white;
  }

  .warn-text{
font-weight: 500;
font-size: 11px;
line-height: 1.36;
color: #FF705D;
margin-left: 4px;

  }

/*.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} */
.modal-close-button{
    position: absolute;
    right: 16px;
    top:16px;
    width: 32px;
    height: 32px;
    background: $modal-form-background;
    color: $text-color;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}
.modal-title {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.20;
    color:$text-color ;
    margin-bottom: 20px;
}
.form-element{
    display: flex;
    flex-direction: column;

    /*margin-top: 24px;*/
}

.form-element input{
    width: 100%;
    height: 48px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color:$text-color;
    margin-bottom: 24px;
    border: none;
    border: 1px solid $secondary-accent-color;
    padding-left: 12px;
    outline: none;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    @include tablet{
    border: 1px solid  rgba(18, 18, 18, 0.12)
    }
}
.form-element input::placeholder-shown {
  border: 1px solid $secondary-accent-color;
}
/*.form-element input:focus{
    border: 1px solid $secondary-accent-color;

}*/
input::placeholder {
color:$modal-form-text;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
}
.modal-label{
margin-bottom: 2px;
font-weight: 500;
font-size: 16px;
line-height: 1.37;
color:$text-color;
margin-left: 12px;
}
.submit-btn {
display: block;
margin: 0 auto;
padding: 10px 38px;
border-radius: 30px;
border: 2px solid $secondary-accent-color;
background-color: $modal-form-background;
font-weight: 500;
font-size: 13px;
line-height: 1.53;
color: $text-color;
transition: background-color 250ms linear;}


.submit-btn:hover,
.submit-btn:focus {
background-color:$primary-accent-color;
}
input:invalid:not(:placeholder-shown) ~.submit-btn {
border:2px solid #FF705D;
background-color: $background-white;
}