.subscribe {
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 60px;
  }
}

.subscribe__container {
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.subscribe__img {
  display: block;
  
  @media screen and(max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 17px;
  }

  @media screen and(max-width: 767px) and(max-width: 1279px) {
    margin-left: auto;   
    margin-bottom: 20px;
  }

  @include tablet {
    margin-left: auto;
  }
}

.subscribe__wrap {
  @media screen and(min-width: 768px) and(max-width: 1279px) {
    padding-right: 48px;
  }
}

.subscribe__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
}

.subscribe__desc {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.14;

  @include tablet {
    margin-bottom: 24px;
  }
}

.subscribe__form {
  display: flex;

  @media screen and(max-width: 767px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.subscribe__input {
  display: block;
  width: 279px;
  height: 42px;

  outline: none;
  padding-left: 11px;

  font-size: 12px;
  line-height: 1.5;

  border: 0.85px solid $main-color;
  border-radius: 30px;
  background: $modal-form-background;
  transition: border 250ms linear;

  &::placeholder {
    font-size: 12px;
    line-height: 1.5;

    color: $form-text;
  }

  &:hover,
  &:focus {
    border-color: $secondary-accent-color;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @include tablet {
    width: 395px;
    margin-right: 22px;
  }

  @include desktop {
    margin-right: 32px;
  }
}

.button--subscribe {
  display: inline-block;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 30px;
  padding: 11px 22px;

  background-color: $primary-accent-color;
  color: $text-color;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  font-family: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}
